.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #191c32;
    color: #fff;
}
.menu a {
    color: #fff;
    text-decoration: none;
}
.navbar {
    display: flex;
    justify-content: space-between;
}
.menu li {
    list-style: none;
}
.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
}